*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content:"";
	display: block;
	clear: both;
}

.head-title{
}
.head-link{}

main{
	margin-left: 80px;
}
.a{
}
.a-head{}
.a-sub{}

.b{
	margin-top: 100px;
}
.b-head{
	font-size: : 28px;
	border: 2px solid #dee7ec;
	padding-bottom: 15px;
}
.b-boxes{
	padding-top: 50px;
}
.box{
	float: left;
	margin-right: 40px;
}
.b-name{
	font-size: 24px;
}

.c{
	margin-top: 100px;
	margin-bottom: 100px;
}
.c-head{
	font-size: 28px;
	border-bottom: 2px solid #dee7ec;
	padding-bottom: 15px;
}
form{
	margin-top: 50px;
}
input{
	border: 1px solid #dee7ec;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 18px;
	color: #889eab;

}

footer{
	background-color: #2f5167;
	color: #fff;
	height: 200px;
	padding: 40px;
}
.foot-title{
	font-size: 32px;
}

.foot-link{
	margin-bottom: 20px;
}